*{
  background-color: aquamarine;
}
h2 {
  color:gray;
  font-size: 200%;
  text-align: center; 
}
h3 {
  color: purple;
  font-size: 500%;
  text-align: center;
}
div{
  margin-left:10%;
  margin-right: 10%;
}

