body{
  background-color: AquaMarine;
  background-image: url('esval_grande.jpg');
}
.div01{
  border:5px outset gray;
  background-color: white;
  color: gray;
  text-align: center;
}
.div02{
  background-color: rgba(40,40,40,0.7);
  color: white;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 10%;
  height: auto;
  text-align: center;
}
img{
  border-radius: 50%;
}
